<!---Log-in-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    
</head>

<body>
    <header>
        <div class="logo">
            <a routerLink="/home">SALES FORECASTING</a>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="mainicon">
            <div class="menu">
                <i class="bi bi-list"></i>
            </div>
        </label>
        <nav>
            <a routerLink="/home" class="active">HOME</a>
            <a routerLink="/salesreport">SALES REPORT</a>
            <a routerLink="/signup">SIGNUP</a>
            <a routerLink="/loginpage">LOGIN</a>
        
        </nav>
    </header>


    <section>
        <div class="main">
            <div class="detail"><!---Sarah -->
                <h1><span style="color:#00E8F8;">SALES FORECASTING</span></h1>
                <p>Sales forecasting using Arima & sales report with PowerBI</p>
                
            </div>
            <div class="images">
                <img src="assets\salespng.png" alt="" width="100%">
            </div>
        </div>
    </section>

</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
</style>
<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
  </style> -->

</html>